/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-image: url("https://img.freepik.com/free-vector/blue-curve-patterned-background_53876-113889.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 100%;
    max-width: 800px; /* Increase max-width for larger card */
  }
  
  .label {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    border-radius: 20px; /* Increase border radius for rounded corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 30px; /* Increase padding for larger card */
  }
  
  /* Form Control Styles */
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 8px; /* Increase border radius for form controls */
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  #images.form-control.transparent-file-input,
#pdfs.form-control.transparent-file-input,
#docs.form-control.transparent-file-input {
  background-color: transparent; /* Set background color to transparent */
  border: none; /* Remove border */
  padding: 0; /* Remove padding */
}
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 24px; /* Increase padding for larger button */
    border-radius: 8px; /* Increase border radius for button */
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  /* Error Message Styles */
  .error-message {
    color: red;
  }
  
  /* Upload Status Styles */
  .upload-status {
    color: green;
  }
  